:root {
    --bg: #1a1e24;
    --color: #eee;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

.wrapper {
    padding: 1.5rem 0;
    filter: url('#goo');
}

.button {
    display: inline-block;
    text-align: center;
    background: #d5142a;
    color: white;
    
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none !important;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;    
    transition: transform 1s ease;

}
 /*
.button:before,
.button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: #d5142a;
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
    text-decoration: none !important;
}

.button:before {
    top: -25%;
    left: 20%;
    text-decoration: none !important;
}

.button:after {
    bottom: -25%;
    right: 20%;
    text-decoration: none !important;
}

.button:hover:before,
.button:hover:after {
    transform: none;
    text-decoration: none !important;
    text-decoration-color: white !important;
}

.button:hover{
    background-color: #ffffff;
    color: #d5142a;
    text-decoration: underline;
}



*/ 



/* Demo styles */

a:hover{
    text-decoration: none !important;
    color: #ffffff !important;
 }

.button:before,
.button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: #d5142a;
    border-radius: 40%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
}

.button:before {
    top: -25%;
    left: 20%;
}

.button:after {
    bottom: -25%;
    right: 20%;
}

.button:hover:before,
.button:hover:after {
    transform: none;
}


